@font-face {
    font-family: "Dark Seed";
    src: url("fonts/Dark Seed.otf");
}
@font-face{
    font-family: "BROKENZ";
    src: url("fonts/BROKENZ.otf");
}
#video{
    width: 980px;
    height: 460px;
    align-items: center; 
}
.navbar-brand, h5{
    font-family: "Dark Seed";
}
h3, h2, h4, h1{
    font-family: "BROKENZ";
}
#tamanho{
    width: 700px;
    align-items: center;
}
.row{
    background-color: #B0C4DE;
}
.container-fluid{
    background-color: #B0C4DE;
}
body{
    background-color: #B0C4DE;
    
}
#mapa{
    width: 1100px;
}
.texto{
    font-family: "Dark Seed";
    font-size: x-large;
    background-color: #B0C4DE;
    text-align: center;
}
.alinhar{
    width: 50;
    height: 25;
    align-items: center;
}
.fundo{
    background-image: url(imagem/espaco.png) !important;
}
.tamanho2{
    width: 500px;
}
.logo{
    align-items: center;
}